<IfModule mod_rewrite.c>
    RewriteEngine On

    # Security Headers
    <IfModule mod_headers.c>
        Header always set X-XSS-Protection "1; mode=block"
        Header always set X-Frame-Options "SAMEORIGIN"
        Header always set X-Content-Type-Options "nosniff"
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Header always set Content-Security-Policy "upgrade-insecure-requests"
        Header always set Referrer-Policy "same-origin"
        Header always set Feature-Policy "geolocation 'self'; vibrate 'none'"
    </IfModule>

    # Redirect to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Redirect HTTP to HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Disable server signature
ServerSignature Off

# Disable directory browsing
Options -Indexes

# Prevent access to .htaccess and .htpasswd files
<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>
